[package]
name = "logging"
version = "0.0.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
anyhow = { workspace = true }
