[package]
name = "logging"
version = "0.0.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
anyhow = "1.0.98"
