@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";

@plugin "@egoist/tailwindcss-icons" {
  scale: 1.5;
}

@font-face {
  font-family: "Geist";
  font-optical-sizing: auto;
  font-weight: 400 900;
  font-style: normal;
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  shape-rendering: crispEdges;
}

:root {
  font-family: "Geist", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Accent Colors */
  --color-accent-primary: #f8612a;
  --color-accent-secondary: #f66935;
  --color-accent-primary-hovered: #e55724;

  /* Text Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #777777;
  --color-text-tertiary: #474749;
  --color-text-primary-hovered: #2d2d2d;
  --color-text-secondary-hovered: #616161;

  /* Backgrounds */
  --color-bg-primary: #fcfcfc;
  --color-bg-secondary: #f5f5f5;
  --color-bg-hovered: #e7e7e7;

  /* Borders */
  --color-border-primary: #dddddd;
  --color-border-secondary: #dadada;
}

html[data-theme="dark"] {
  /* Text Colors */
  --color-text-primary: #a09fa4;
  --color-text-secondary: #686970;
  --color-text-tertiary: #474749;
  --color-text-primary-hovered: #b5b5b5;
  --color-text-secondary-hovered: #8d8c8c;

  /* Backgrounds */
  --color-bg-primary: oklch(0.14 0.008 301);
  --color-bg-secondary: #0a0a0c;
  --color-bg-hovered: #040404;

  --color-bg-primary-disabled: oklch(0.118 0.007 301);
  --color-bg-primary-hover: oklch(0.163 0.009 301);
  --color-bg-primary-active: oklch(0.185 0.011 301);

  /* Borders */
  --color-border-primary: #211f27;
  --color-border-secondary: #26232e;
}

@theme {
  /* Accent Colors */
  --color-accent-primary: var(--color-accent-primary);
  --color-accent-secondary: var(--color-accent-secondary);
  --color-accent-primary-hovered: var(--color-accent-primary-hovered);

  /* Text Colors */
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-primary-hovered: var(--color-text-primary-hovered);
  --color-text-secondary-hovered: var(--color-text-secondary-hovered);

  /* Backgrounds */
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-hovered: var(--color-bg-hovered);

  --color-bg-primary-disabled: var(--color-bg-primary-disabled);
  --color-bg-primary-hover: var(--color-bg-primary-hover);
  --color-bg-primary-active: var(--color-bg-primary-active);

  /* Borders */
  --color-border-primary: var(--color-border-primary);
  --color-border-secondary: var(--color-border-secondary);

  /* Sodapop Aspect Ratios */
  --aspect-card: 3.9 / 1;
  --aspect-secondaryCard: 0.75 / 1;
  --aspect-player: 16.5 / 1;
  --aspect-button: 2.96 / 1;

  /* Sodapop Animations */
  --ease-sodapop: cubic-bezier(0.16, 1, 0.3, 1);

  /* Slides */
  --animate-slideLeftAndFade: slideLeftAndFade 75ms var(--ease-sodapop);
  --animate-slideRightAndFade: slideRightAndFade 75ms var(--ease-sodapop);
  --animate-slideUpAndFade: slideUpAndFade 75ms var(--ease-sodapop);
  --animate-slideDownAndFade: slideDownAndFade 75ms var(--ease-sodapop);

  /* Zooms */
  --animate-zoomIn: zoomIn 300ms var(--ease-sodapop);
  --animate-zoomOut: zoomOut 150ms var(--ease-sodapop);

  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

@utility animation-reverse {
  animation-direction: reverse;
}

@utility sodapop-card {
  @apply bg-bg-secondary border-border-secondary rounded-md border p-3;
}

@utility context-menu-item {
  @apply text-text-primary data-disabled:text-text-secondary data-highlighted:bg-accent-primary data-highlighted:text-text-primary relative flex h-6 cursor-default items-center gap-1.5 rounded-sm px-2 py-4 text-sm leading-none outline-none select-none data-disabled:pointer-events-none;
}

@utility skeleton-loader {
  @apply bg-border-secondary absolute inset-0 w-full animate-pulse rounded;
}

@layer base {
  h1 {
    font-size: 2.15rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.925rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.725rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.55rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1.39375rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    font-size: 0.8875rem;
    font-weight: 500;
    line-height: 1.25;
  }

  small,
  label {
    font-size: 0.8125rem;
    font-weight: 500;
  }
}
