@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";

@plugin "@egoist/tailwindcss-icons" {
  scale: 1.5;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  shape-rendering: crispEdges;
}

@theme {
  /* Sodapop Colors */
  --color-primary: #cd1919;
  --color-placeholder: #b29e95;
  --color-text: #c5bbb7;
  --color-supporting: #6d6d6d;
  --color-stroke-100: #222222;
  --color-stroke-200: #303030;
  --color-background: #0f0f0f;
  --color-card: #111111;

  /* Sodapop Aspect Ratios */
  --aspect-card: 3.9 / 1;
  --aspect-secondaryCard: 0.75 / 1;
  --aspect-player: 16.5 / 1;
  --aspect-button: 2.96 / 1;
}

@layer base {
  h1 {
    font-size: 4.769rem;
    font-weight: 800;
  }

  h2 {
    font-size: 3.815rem;
    font-weight: 800;
  }

  h3 {
    font-size: 3.052rem;
    font-weight: 800;
  }

  h4 {
    font-size: 2.441rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1.953rem;
    font-weight: 700;
  }

  h6 {
    font-size: 1.563rem;
    font-weight: 600;
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }

  small,
  label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
  }
}

@layer components {
  .cardStyle {
    background-color: var(--color-card);
    border-color: var(--color-stroke-100);
    border-width: 1px;
    border-radius: var(--radius-md);
    padding: calc(var(--spacing) * 2);
  }
}
