@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  shape-rendering: crispEdges;
}

@theme {
  /* Sodapop Colors */
  --color-primary: #CD1919;
  --color-placeholder: #b29e95;
  --color-text: #C5BBB7;
  --color-supporting: #6D6D6D;
  --color-stroke-100: #222222;
  --color-stroke-200: #303030;
  --color-background: #0F0F0F;
  --color-card: #111111;

  /* Sodapop Aspect Ratios */
  --aspect-card: 3.9 / 1;
  --aspect-secondaryCard: 0.75 / 1;
  --aspect-player: 16.5 / 1;
  --aspect-button: 2.96 / 1;
}

@layer components {
  .font-supporting {
    font-size: 1rem;
    @apply font-medium;
  }

  .font-main {
    font-size: 1.25rem;
    @apply font-semibold;
  }

  .font-main-nonbold {
    font-size: 1.25rem;
    @apply font-medium;
  }

  .font-h6 {
    font-size: 1.563rem;
    @apply font-semibold;
  }

  .font-h5 {
    font-size: 1.953rem;
    @apply font-bold;
  }

  .font-h4 {
    font-size: 2.441rem;
    @apply font-bold;
  }

  .font-h3 {
    font-size: 3.052rem;
    @apply font-extrabold;
  }

  .font-h2 {
    font-size: 3.815rem;
    @apply font-extrabold;
  }

  .font-h1 {
    font-size: 4.769rem;
    @apply font-extrabold;
  }
}