@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";

@plugin "@egoist/tailwindcss-icons" {
  scale: 1.5;
}

@font-face {
  font-family: "Geist";
  font-optical-sizing: auto;
  font-weight: 400 900;
  font-style: normal;
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

svg {
  shape-rendering: crispEdges;
}

:root {
  font-family: "Geist", "Avenir", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Accent Colors */
  --color-accent-primary: #f8612a;
  --color-accent-secondary: #f66935;
  --color-accent-primary-hovered: #e55724;

  /* Text Colors */
  --color-text-primary: #333333;
  --color-text-secondary: #777777;
  --color-text-tertiary: #474749;
  --color-text-primary-hovered: #2d2d2d;
  --color-text-secondary-hovered: #616161;

  /* Backgrounds */
  --color-bg-primary: #fcfcfc;
  --color-bg-secondary: #f5f5f5;

  /* Borders */
  --color-border-primary: #dddddd;
  --color-border-secondary: #dadada;
}

html[data-theme="dark"] {
  /* Text Colors */
  --color-text-primary: oklch(0.705 0.007 295.389);
  --color-text-primary-disabled: oklch(0.582 0.011 295.389);
  --color-text-primary-hovered: oklch(0.766 0.006 295.389);
  --color-text-primary-active: oklch(0.827 0.004 295.389);

  --color-text-secondary: oklch(0.522 0.011 279.51);
  --color-text-secondary-disabled: oklch(0.422 0.01 279.51);
  --color-text-secondary-hovered: oklch(0.622 0.008 279.51);
  --color-text-secondary-active: oklch(0.722 0.006 279.51);

  --color-text-tertiary: oklch(0.399 0.003 286.248);
  --color-text-tertiary-disabled: oklch(0.311 0.003 286.248);
  --color-text-tertiary-hovered: oklch(0.486 0.004 286.248);
  --color-text-tertiary-active: oklch(0.573 0.004 286.248);

  --color-bg-primary: oklch(0.146 0.006 285);
  --color-bg-primary-disabled: oklch(0.118 0.005 285);
  --color-bg-primary-hovered: oklch(0.163 0.007 285);
  --color-bg-primary-active: oklch(0.185 0.009 285);

  --color-bg-secondary: oklch(0.146 0.004 285.857);
  --color-bg-secondary-disabled: oklch(0.122 0.004 285.857);
  --color-bg-secondary-hovered: oklch(0.17 0.005 285.857);
  --color-bg-secondary-active: oklch(0.194 0.006 285.857);

  /* Borders */
  --color-border-primary: oklch(0.245 0.015 296.706);
  --color-border-primary-disabled: oklch(0.196 0.012 296.706);
  --color-border-primary-hovered: oklch(0.294 0.018 296.706);
  --color-border-primary-active: oklch(0.342 0.021 296.706);

  --color-border-secondary: oklch(0.264 0.021 297.459);
  --color-border-secondary-disabled: oklch(0.211 0.016 297.459);
  --color-border-secondary-hovered: oklch(0.318 0.025 297.459);
  --color-border-secondary-active: oklch(0.371 0.029 297.459);
}

@theme {
  /* Accent Colors */
  --color-accent-primary: var(--color-accent-primary);
  --color-accent-secondary: var(--color-accent-secondary);
  --color-accent-primary-hovered: var(--color-accent-primary-hovered);

  /* Text Colors */
  --color-text-primary: var(--color-text-primary);
  --color-text-primary-disabled: var(--color-text-primary-disabled);
  --color-text-primary-hovered: var(--color-text-primary-hovered);
  --color-text-primary-active: var(--color-text-primary-active);

  --color-text-secondary: var(--color-text-secondary);
  --color-text-secondary-disabled: var(--color-text-secondary-disabled);
  --color-text-secondary-hovered: var(--color-text-secondary-hovered);
  --color-text-secondary-active: var(--color-text-secondary-active);

  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-tertiary-disabled: var(--color-text-tertiary-disabled);
  --color-text-tertiary-hovered: var(--color-text-tertiary-hovered);
  --color-text-tertiary-active: var(--color-text-tertiary-active);

  /* Backgrounds */
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-primary-disabled: var(--color-bg-primary-disabled);
  --color-bg-primary-hovered: var(--color-bg-primary-hovered);
  --color-bg-primary-active: var(--color-bg-primary-active);

  --color-bg-secondary: var(--color-bg-secondary);
  --color-bg-secondary-disabled: var(--color-bg-secondary-disabled);
  --color-bg-secondary-hovered: var(--color-bg-secondary-hovered);
  --color-bg-secondary-active: var(--color-bg-secondary-active);

  /* Borders */
  --color-border-primary: var(--color-border-primary);
  --color-border-primary-disabled: var(--color-border-primary-disabled);
  --color-border-primary-hovered: var(--color-border-primary-hovered);
  --color-border-primary-active: var(--color-border-primary-active);

  --color-border-secondary: var(--color-border-secondary);
  --color-border-secondary-disabled: var(--color-border-secondary-disabled);
  --color-border-secondary-hovered: var(--color-border-secondary-hovered);
  --color-border-secondary-active: var(--color-border-secondary-active);

  /* Sodapop Aspect Ratios */
  --aspect-card: 3.9 / 1;
  --aspect-secondaryCard: 0.75 / 1;
  --aspect-player: 16.5 / 1;
  --aspect-button: 2.96 / 1;

  /* Sodapop Animations */
  --ease-sodapop: cubic-bezier(0.16, 1, 0.3, 1);

  /* Slides */
  --animate-slideLeftAndFade: slideLeftAndFade 75ms var(--ease-sodapop);
  --animate-slideRightAndFade: slideRightAndFade 75ms var(--ease-sodapop);
  --animate-slideUpAndFade: slideUpAndFade 75ms var(--ease-sodapop);
  --animate-slideDownAndFade: slideDownAndFade 75ms var(--ease-sodapop);

  /* Zooms */
  --animate-zoomIn: zoomIn 300ms var(--ease-sodapop);
  --animate-zoomOut: zoomOut 150ms var(--ease-sodapop);

  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

@utility animation-reverse {
  animation-direction: reverse;
}

@utility sodapop-card {
  @apply bg-bg-secondary border-border-secondary rounded-md border p-3;
}

@utility context-menu-item {
  @apply bg-bg-secondary text-text-primary data-disabled:text-text-primary-disabled data-highlighted:bg-bg-secondary-hovered data-highlighted:text-text-primary-hovered relative flex h-6 cursor-default items-center gap-1.5 rounded-sm px-2 py-4 text-sm leading-none outline-none select-none data-disabled:pointer-events-none;
}

@utility skeleton-loader {
  @apply bg-border-secondary absolute inset-0 w-full animate-pulse rounded;
}

@layer base {
  h1 {
    font-size: 2.15rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.925rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.725rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1.55rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1.39375rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    font-size: 0.8875rem;
    font-weight: 500;
    line-height: 1.25;
  }

  small,
  label {
    font-size: 0.8125rem;
    font-weight: 500;
  }
}
