@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  shape-rendering: crispEdges;
}

@layer components {
  .font-supporting {
    font-size: 1rem;
    @apply font-medium;
  }

  .font-main {
    font-size: 1.25rem;
    @apply font-semibold;
  }

  .font-main-nonbold {
    font-size: 1.25rem;
    @apply font-medium;
  }

  .font-h6 {
    font-size: 1.563rem;
    @apply font-semibold;
  }

  .font-h5 {
    font-size: 1.953rem;
    @apply font-bold;
  }

  .font-h4 {
    font-size: 2.441rem;
    @apply font-bold;
  }

  .font-h3 {
    font-size: 3.052rem;
    @apply font-extrabold;
  }

  .font-h2 {
    font-size: 3.815rem;
    @apply font-extrabold;
  }

  .font-h1 {
    font-size: 4.769rem;
    @apply font-extrabold;
  }
}