@import "tailwindcss";
@plugin "@egoist/tailwindcss-icons";

@plugin "@egoist/tailwindcss-icons" {
  scale: 1.5;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg {
  shape-rendering: crispEdges;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Sodapop Colors */
  --color-primary: #b81616;
  --color-placeholder: #ef2724;
  --color-text: #b6b3b1;
  --color-supporting: #656565;
  --color-stroke-100: #303030;
  --color-stroke-200: #222222;
  --color-background: #0b0b0b;
  --color-card: #0c0b0b;

  /* Sodapop Aspect Ratios */
  --aspect-card: 3.9 / 1;
  --aspect-secondaryCard: 0.75 / 1;
  --aspect-player: 16.5 / 1;
  --aspect-button: 2.96 / 1;

  /* Sodapop Animations */
  --ease-sodapop: cubic-bezier(0.16, 1, 0.3, 1);

  /* Slides */
  --animate-slideLeftAndFade: slideLeftAndFade 75ms var(--ease-sodapop);
  --animate-slideRightAndFade: slideRightAndFade 75ms var(--ease-sodapop);
  --animate-slideUpAndFade: slideUpAndFade 75ms var(--ease-sodapop);
  --animate-slideDownAndFade: slideDownAndFade 75ms var(--ease-sodapop);

  /* Zooms */
  --animate-zoomIn: zoomIn 75ms var(--ease-sodapop);
  --animate-zoomOut: zoomOut 75ms var(--ease-sodapop);

  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes zoomOut {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }
}

@utility animation-reverse {
  animation-direction: reverse;
}

@utility sodapop-card {
  @apply bg-card border-stroke-200 rounded-md border p-2;
}

@utility context-menu-item {
  @apply text-supporting data-[disabled]:text-placeholder data-[highlighted]:bg-stroke-100 data-[highlighted]:text-text relative flex h-6 cursor-default items-center gap-1.5 rounded-sm px-2 py-4 text-sm leading-none outline-none select-none data-[disabled]:pointer-events-none;
}

@layer base {
  h1 {
    font-size: 4.769rem;
    font-weight: 800;
  }

  h2 {
    font-size: 3.815rem;
    font-weight: 800;
  }

  h3 {
    font-size: 3.052rem;
    font-weight: 800;
  }

  h4 {
    font-size: 2.441rem;
    font-weight: 700;
  }

  h5 {
    font-size: 1.953rem;
    font-weight: 700;
  }

  h6 {
    font-size: 1.563rem;
    font-weight: 600;
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }

  small,
  label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
  }
}
