@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 20px;
  line-height: 1.6,
}

@layer components {
  .text-supporting {
    font-size: 0.8rem;
    @apply font-medium;
  }

  .text-main {
    font-size: 1rem;
    @apply font-semibold;
  }

  .text-main-nonbold {
    font-size: 1rem;
    @apply font-medium;
  }

  .text-h6 {
    font-size: 1.25rem;
    @apply font-semibold;
  }

  .text-h5 {
    font-size: 1.563rem;
    @apply font-bold;
  }

  .text-h4 {
    font-size: 1.953rem;
    @apply font-bold;
  }

  .text-h3 {
    font-size: 2.441rem;
    @apply font-extrabold;
  }

  .text-h2 {
    font-size: 3.052rem;
    @apply font-extrabold;
  }

  .text-h1 {
    font-size: 3.815rem;
    @apply font-extrabold;
  }
}